.about{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}
.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
} 
.about .left p{
    margin: 1.2rem 0;
    font-size: 1.6rem;
}
.about .right{
    max-width: 700px;
}
.right .img-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;
}
.right .img{
    height: 500px;
    width: 600px;
}
.left h1{
    color: white;
}