@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;300;400&display=swap');

*{
  font-family: 'Noto Sans Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('/public/images/img1.jpg');
  background-size: cover;
  background-position: center ;
  background-attachment: fixed;
}


h1,h2,h3,p,a{
  color: #fff;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #596CEF;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
}
.btn-light{
  background: transparent;
  color: rgb(70, 99, 204);
}
.btn:hover{
  background: rgb(41, 95, 210);
  color:#fff;
  transition:0.3s
}